
<html>
  <head>
    <title>Category Campaign Grabber</title>
   <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
   <link rel="shortcut icon" href="/static/images/favicon.ico"/>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script src="/static/scripts/js/ajax_post.js"></script>

  <!-- Alertify -->  
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>  
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>    
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>

  </head>
  <body>

    <!-- Google Tag Manager -->
  
    <!-- Data Layer -->
    <script>
    dataLayer = [];
    </script>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NNN44LC');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNN44LC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <div id="container">
      <div class="return_home">
      <br>
      <a href="/"> << Return to homepage</a>
      </div>      
      <div class="pagetitle">
        <h1>Category Campaign Grabber</h1>
      </div>
      <div id="main">

      <!--
      <div id="cat_picture">
        <br>
        <img height="150" src="static/images/amazed-jaw-dropping-cat.gif">
        <img height="150" src="static/images/keyboard_cat.gif">
        <img height="150" src="static/images/hands_cat.gif">
        <img height="150" src="static/images/keyboard_cat_2.gif">
        <img height="150" src="static/images/you_rang_cat.gif">
        <img height="150" src="static/images/lame_cat.gif">
      </div>
      -->

        <div id="Upload">

          <h3>Add your category ID and API keys</h3>        
          
          <p> Add them here and it will return all audiences/campaigns which use this category (<a target ="_blank" href="https://docs.oracle.com/cloud/latest/marketingcs_gs/OMCDA/index.html#Developers/getting_started/getting_your_developer_keys.html%3FTocPath%3DAPI%2520Developer%2520Guide%7C_____1">How to Grab Your API Keys</a>)</p>

          <!--
          <form method="post" action="{{ url_for('category_campaign_grabber_details')}}" name="submit" enctype="multipart/form-data">
            API Public Key:<br>
            <input type="text" name="apiPublicKey"><br>
            API Secret Key:<br>
            <input type="text" name="apiSecretKey"><br>
            Category ID:<br>
            <input type="text" name="categoryID"><br>
            <input type="submit" name="submit" value="Submit">
          </form>
          -->

          <form class="form-signin" action="/category_campaign_grabber_details" method="post" role="form">
             
             <div class="col-xs-8">
               <input type="apiPublicKey" name="apiPublicKey" class="form-control .col-sm-*" placeholder="Enter Public Key" required autofocus><br>
               <input type="apiSecretKey" name="apiSecretKey" class="form-control .col-sm-*" placeholder="Enter Secret Key" required><br>
               <input type="categoryID" name="categoryID" class="form-control .col-sm-*" placeholder="Enter Category ID" required><br>
               <button class="btn btn-lg btn-primary btn-block" type="button">Submit</button>

               <h3>Results</h3>

               <p>Audience IDs will be presented below in JSON format with details</p>

              <figure class="highlight">
                 <pre>
                  <code class="language-html" data-lang="html">
                    <span class="nt" id="apiResponse"></span>
                  </code>
                </pre>
              </figure>

              <h3>Running this yourself</h3>
              <p> Please see <a target="_blank" href="/static/scripts/server_side/python/category_checker.py">Python Script</a> if you'd like to build this yourself</p>
               

            </div>

             
         </form>

        
        </div>            
        
      </div>
    </div>
  </body>
</html>